/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}

/* Share Style */

.btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}
.lern-btn{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 12px 20px 12px 20px;
}
.lern-btn a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}

/* Navbar section style */

.navbar{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px auto;
}
.navbar .logo{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}

.navbar .nav-btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;

}

/* Banner section Style */

.banner{
    max-width: 100%;
    max-height: 867px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .banner-img{
    max-width: 240px;
    margin-top: 26px;
}
.banner .banner-title{
    max-width: 1140px;
    color: rgb(13, 19, 33);
    font-size: 50px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin: 30px 0 25px;
}
.banner .banner-description{
    max-width: 1305px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    text-align: center;
}

/* About me section Style */

.web-dev-section{
    max-width: 1516px;
    margin:74px auto 88px;
    text-align: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.banner-btn{
    margin: 32px 0 44px;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
    background: rgb(13, 19, 33);
}
.banner-btn a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none;
}
.web-dev-section .container{
    max-width: 1258px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 80px 0px;
}
.container .web-dev-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.web-dev-description {
    max-width: 1133px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 24px 0 48px;

}
.container .contents-box{
    max-width: 1258px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 48px;
}
.container .contents-box .contents{
    width:1130px ;
    padding: 48px;
}
.contents-box .contents{
    display: flex;
    justify-content: space-between;
}
.web-dev-content{
    text-align: left;
}
.web-dev-content .web-title{
    max-width: 518px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}
.web-dev-content .web-des{
    max-width: 622px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin: 16px 0 32px;

}

.contents-box2 {
    max-width: 1258px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 48px;
}

.contents-box2 .contents{
    width:1130px ;
    padding: 48px;
    display: flex;
}
.contents-box2 .contents .web-dev-img{
    margin-right: 50px;
}

/*  Inspiration section style */

.my-inspiration-section{
    text-align: center;
}
.my-inspiration-content {
    max-width: 1133px;
    margin: auto;
}
.my-inspiration-content .title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.my-inspiration-content .description{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 48px;
    opacity: 0.7;
}
.description{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0 48px;
    opacity: 0.7;
}
.inspiration-video iframe{
    width: 1516px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 150px;
}


/* my target section style */
.my-target-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto 111px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.target-content .target-des{
    max-width: 1133px;
    margin: 24px 0 48px;
}
.target-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.target-card-content .card{
    border-radius: 16px;
    
    max-width: 484px;
    height: 310px;
    text-align: left;
    padding: 40px;
    margin: 24px;
}
.color1{
    background-color: rgba(0, 76, 232, 0.05);
}
.color2{
    background: rgba(255, 76, 30, 0.05);
}
.color3{
    background: rgba(255, 223, 0, 0.05);
}
.card-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
}
.card-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 8px 0 24px;
}
.card-btn{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}
.card img{
    width: 56px;
}

/* my next target section style */
.my-next-target-section {
    max-width: 1516px;
    display: flex;
    margin: 0 auto 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.next-target-contant {
    text-align: center;
    max-width: 1133px;
    margin-bottom: 48px;
}
.next-target-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}
.next-target-des {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}
.card-contantainer img{
    margin-right: 24px;
}
.card-contantainer {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    padding: 40px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

/* footer section style */

/* Support section style */
#support {
    max-width: 1516px;
    background-image: linear-gradient(188.00deg, rgb(52, 52, 52) -19.5%, rgba(248, 248, 248, 0.123) 100%), url('../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 80px;
    border-radius: 16px;
    padding: 64px 48px 64px 48px;
}
.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.support-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px 0 24px;
}
input[type="search"] {
    width: 548px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    padding: 19px 20px 19px 20px;
    line-height: 19px;
}
input[type="submit"] {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
    padding: 17px 20px 17px 20px;
}
.media-section{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.media-content{
    max-width: 1516px;
    margin: auto;
    padding: 32px 0 32px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.media-icon img{
    margin-left: 24px;
}