/* google Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}

/* Share Style */
.btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

/* Navbar style */
.navbar{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px auto;
}
.navbar .logo{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.navbar .nav-btn{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;

}

/* Banner section Style */
.banner{
    max-width: 100%;
    max-height: 867px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .banner-img{
    max-width: 240px;
    margin-top: 26px;
}
.banner .banner-title{
    max-width: 1305px;
    color: rgb(13, 19, 33);
    font-size: 50px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 30px 0 25px;
}
.banner .banner-description{
    max-width: 1305px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    text-align: center;
}
.banner-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    margin: 30px 0 44px;
}

